{
   "presets": [
   ["@babel/preset-env", {
    "targets": {
      "esmodules": true
    }
   }],
   "@babel/react"
],
   "plugins": [
      "@babel/plugin-proposal-optional-chaining",
      ["@babel/plugin-proposal-decorators", {
         "legacy": true,
      }],
      ["@babel/plugin-proposal-class-properties", {
         "loose": true
      }],
      "macros"
   ]
}
